body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.loginForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.loginForm a {
    color: white;
}
.loginFormInput {
    background-color: #2d3240;
    width: 70%;
    max-width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 2px solid transparent;
    padding-left: 40px;
    padding-right: 40px; 
    color: #91949c;
    transition: border-color 0.3s ease; 
}

.loginFormInput:focus {
    outline: none; 
    border-color: rgba(46, 174, 191, 0.2); 
    box-shadow: 0 0 0 3px rgba(46, 174, 191, 0.1); 
}

.loginFormButton {
    width: 100%;
    max-width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 2px solid transparent;
    padding-left: 40px;
    padding-right: 40px; 
    transition: border-color 0.3s ease; 
    background-color: #2eaebf !important;
    color: white !important;
    cursor: pointer;
}

.invite {
    display: flex;
    justify-content: center;
}

.passwordContainer {
    position: relative;
}

.filterIcon {
    position: absolute;
    top: 50%;
    right: 10px; 
    width: 20px; 
    height: 20px; 
    transform: translateY(-50%);
}